
.top-box {
    border: solid 2px black;
    height: 30vh;
    width: 90vw;
    margin: auto;
    padding: 10px;
    display: inline-flex;
    
      
    
}
.blue-sq {
    background: rgb(15, 18, 228);
    width: 1px;
    height: 10vh;
    padding: 60px;
    display: inline;
    
}
.green-sq {
    background: rgb(22, 158, 63);
    width: 20vw;
    height: 5vh;
    padding: 60px;
    border: solid 2px;
    display: inline;
    margin-left: 30px;
    

}
.blue-cy {
    background-color: lightskyblue;
    border-radius: 100px;
    
    height: 150px;
    width: 150px;
    margin-left: 30px;
}
.dotted-box {
    border: dotted black 5px;
    margin: 10px;
       height: 30vh;
       width: 90vw;
    
       padding: 10px;
       display: inline-flex;
}
.shadow-box {
    background-color: wheat;
    height: 30vh;
    width: 70vw;
    margin: auto;
    box-shadow: 10px 5px 5px black;
}
.bot-box {
    height: 30vh;
    width: 50vw;
    margin: auto;
    border: solid 1px gray;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
 text-shadow: 1px 1px 2px black;    
        
}